<!-- page-aside : 페이지별 앵커 영역 마크업 추가 예정 | 소타이틀이 없는 경우 term type-01, 소타이틀이 있는 경우 term type-02 -->
<% if (name === 'colors') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="principle">Principle</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="lightAndDarkMode">Light and Dark mode</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="basicColor">Basic Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="mainColor">Main Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="subColor">Sub Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="greyscale">Greyscale</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="semanticColor">Semantic Color</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="background">Background</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="popupBox">Popup box</a></li>
    </ul>
</div>
<% } else if (name === 'typography') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="typeface">Typeface</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="components">Components</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="heading">Heading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="title">Title</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="body">Body</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="detail">Detail</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="label">Label</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="link">Link</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="fontSizes">Font sizes</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="fontWeight">Font weight</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="lineHeight">Line height</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="headingAndDetail">Heading and detail</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="bodyAndCode">Body and code</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="component">Component</a></li>
    </ul>
</div>
<% } else if (name === 'layout') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor" data-link="responsiveLayoutGrid">Responsive layout grid</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="breakPoint">Break point</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor" data-link="contentsArea">Contents area</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor" data-link="spacing">Spacing</a></li>
    </ul>
</div>
<% } else if (name === 'object-styles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Radius</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Small rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Default rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">ETC rounding</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Full rounding</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Border width</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Shadow</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Default shadow</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">On Light Gray</a></li>
    </ul>
</div>
<% } else if (name === 'principles') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">디자인 원칙</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">원칙을 따르기 위한 주요 방안</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Responsive</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Accessibility</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Visual Hierarchy</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Meaningful text</a></li>
    </ul>
</div>
<% } else if (name === 'content-design') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">콘텐츠 디자인이란?</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">모범 사례</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">대체 텍스트는 짧게</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">차트와 그래프는 요약해서 작성</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">평범한 언어를 사용</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">사용자 시각의 흐름</a></li>
    </ul>
</div>
<% } else if (name === 'design-tokens') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor">디자인 토큰이란?</a></li>
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor">Global tokens</a></li>
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor">Alias tokens</a></li>
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor">Theming</a></li>
    </ul>
</div>
<% } else if (name === 'top-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'button-navigation') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'navigation-drawer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'footer') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'box-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Label and icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Primary variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Secondary variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Action Variant</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Disabled</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Loading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">On/Off states</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Size</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Behaviors</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Focus</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Flexible width</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Overflow</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Usage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Guideline</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">High-contrast mode</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Fixing the bottom</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Code</a></li>
    </ul>
</div>
<% } else if (name === 'text-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Text Only</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Text + Icon</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Underlined</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Usage guidelines</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">화면 판독기 지원</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">문장 내 사용</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">직관적인 경험</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Code</a></li>
    </ul>
</div>
<% } else if (name === 'tab-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Anatomy</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Options</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Label</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Stage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">States</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Pading</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">Margin</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Element Type</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">항목 수</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">측면 여백</a></li>
        <li class="nav-item term type-02"><a href="javascript:void(0)" class="anchor">Usage</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">표시될 콘텐츠가 없는 경우</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">여러 개의 탭을 중첩하는 경우</a></li>
        <li class="nav-item desc"><a href="javascript:void(0)" class="anchor">탭의 항목 수가 많을 경우</a></li>
        <li class="nav-item term type-01"><a href="javascript:void(0)" class="anchor">Code</a></li>
    </ul>
</div>
<% } else if (name === 'icon-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'select-button') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'tag') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'text-field') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'dropdown') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'search') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'table') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'data-list') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'accordion') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'layer-popup') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'alert-snackbar') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'tooltip') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'thumbnail') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } else if (name === 'loading') { %>
<div class="quick-nav">
    <ul class="nav-list">
        <li class="nav-item term"><a href="javascript:void(0)" class="anchor"></a></li>
    </ul>
</div>
<% } %>
<!-- //page-aside -->