.data-list {
    &.design-01 {
        .data-item {
            .data-head {
                .subject {
                    color: color(gray,900);
                    @include font(small-2x,semibold)
                }
                .summary {
                    color: color(gray,600);
                    @include font(small-4x)
                }
                + .data-body,
                + .data-figure {
                    margin-top: 2rem;
                }
            }
            + .data-item {
                margin-top: 6rem;
            }
        }
    }
    &.design-02 {
        .data-item {
            .data-head {
                .subject {
                    color: color(gray,900);
                    @include font(small-2x,semibold)
                }
            }
            .data-body {
                .para {
                    color: color(gray,600);
                    @include font(small-3x)
                }
            }
            + .data-item {
                margin-top: 2.7rem;
            }
        }
    }
    &.design-03 {
        .data-item {
            .data-head {
                .subject {
                    color: color(gray,900);
                    @include font(small-2x,bold)
                }
                + .data-body {
                    margin-top: 0.8rem;
                }
            }
            .data-body {
                .para {
                    color: color(gray,500);
                    @include font(small-4x);
                    + .table-display {
                        margin-top: 2rem;
                    }
                }
                + .data-figure {
                    margin-top: 2rem;
                }
            }
            + .data-item {
                margin-top: 6rem;
            }
        }
    }
}